<form role="form">
  <div class="form-group">
    <input type="search" class="form-control" id="search" ng-model="query" ng-change="search()" placeholder="Search">
  </div>
</form>
<div ng-if="searching">
  Searching for <strong>{{query}}</strong>&hellip;
</div>
<div ng-if="courses">
  <ul class="list-unstyled" ng-if="courses.length">
    <li ng-repeat="course in courses">
      <div><strong>{{course.name}}</strong></div>
      <div class="small text-muted">{{course.city}}, {{course.state}}</div>
    </li>
  </ul>
  <div ng-if="!courses.length">
    No courses found for <strong>{{query}}</strong>.
    <a href="#/new">Add a course</a>
  </div>
</div>
